{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    {% for movie in movies %}
        <h2>{{ movie.title }}</h2>
        <p>Released in {{ movie.year }}</p>
    {% endfor %}
{% endblock %}

